---
title: 404 Not Found
---
{% extends "page.html" %}

{% block content %}
<main class="content" role="main">

  <article class="post">

    <header class="post-header">
      <a id="blog-logo" href="/">
        <img src="/images/logo.png" alt="Blog Logo" />
      </a>
    </header>

    <h1 class="post-title">404 Not Found</h1><br/>

    <section class="post-content">

      <img src="/images/layout/404.jpg">

      <p>The file or page you're looking for does not exist. Try searching.</p>
    </section>

    {% include "search.html" %}
  </article>
</main>
{% endblock %}
