---
title: Codeception
paginate: true
---
{% extends "listing.html" %}

{% block content %}

{% for post in paginator.posts %}
<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
<time datetime="{{ post.date | date("%Y-%m-%d") }}">
  {{ post.date | date("%b %d, %Y") }}
</time>
<p></p>
{{ post.content | excerpt(70) }}
<div class="post-excerpt">
  <p class="alignleft"><a href="{{ post.url }}">Read more...</a></p> 
  <p class="alignright"><a href="{{ post.url }}#comments">Comments...</a></p>
  <div style="clear: both;"></div>
</div>
<hr>
{% endfor %}

<div class="blog-nav">
  {% if paginator.previous_page != None %}
  <p class="alignleft"><a href="/page{{ paginator.previous_page }}">&larr; Previous Page</a></p>
  {% endif %}
  {% if paginator.next_page != None %}
  <p class="alignright"><a href="/page{{ paginator.next_page }}">Next Page &rarr;</a></p>
  {% endif %}
  <div style="clear: both;"></div>
</div>

<div>
  <p><strong>Tag Cloud</strong>:</p>
  <p>
    {% for tag in tags %}
    <a href="{{tag.url}}">{{tag.name}}</a>
    {% endfor %}
  </p>
</div>

{% include "blog-search.html" %}
{% endblock %}
