---
title: "@semk"
paginate: true
---
{% extends "default.html" %}

{% block content %}

<header id="site-head" style="background: url(/images/blog_header.jpg)70% 0 no-repeat fixed; background-position:70% 0px;">
    <div class="vertical">
        <div id="site-head-content" class="inner">
            <a id="blog-logo" href="/"><img src="/images/logo.png" alt="Blog Logo" /></a>
            <h1 class="blog-title">{{ site.name }}</h1>
            <h2 class="blog-description">Just a place to pass my spare time</h2>
	    <span>
	      <a href="/about">About</a>
	      <a href="/lab">Lab</a>
	      <a href="/archive">Archive</a>
	    </span>
        </div>
    </div>
</header>

<main class="content" role="main">

    {% for post in paginator.posts %}
    <article class="post">
        <header class="post-header">
            <span class="post-meta"><time datetime="{{ post.date | date("%Y-%m-%d") }}">{{ post.date | date("%b %d, %Y") }}</time></span>
            <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        </header>
        <section class="post-excerpt">
            <p>{{ post.content | excerpt(70) }}&hellip;</p>
        </section>
    </article>

    {% endfor %}

    <nav class="pagination" role="navigation">
      {% if paginator.next_page != None %}
      <a class="older-posts" href="/page{{ paginator.next_page }}">&larr; Older Posts</a>
      {% endif %}
      <span class="page-number">Page {{ paginator.current_page }} of {{ paginator.total_pages }}</span>
      {% if paginator.previous_page != None %}
      <a class="newer-posts" href="/page{{ paginator.previous_page }}">Newer Posts &rarr;</a>
      {% endif %}
    </nav>

</main>

{% endblock %}
