---
title: Lab
---
{% extends "listing.html" %}

{% block content %}
<h2>Lab</h2>
<p>These are some of the stuffs I did during my free time.</p>

<h2><a href="https://github.com/semk/voldemort">Voldemort</a></h2>
<a href="https://github.com/semk/voldemort">https://github.com/semk/voldemort</a>

<p>Voldemort is a blog-aware static site generator that uses the beautiful <a href="http://jinja.pocoo.org/2/">Jinja2</a> and <a href="http://daringfireball.net/projects/markdown/">Markdown</a> templates. It is called "Voldemort" because it has got the magic of Jinja2 and the wickedness of my programming skills :-).</p>

<h2><a href="https://github.com/semk/RegexMate">RegexMate</a></h2>
<a href="https://github.com/semk/RegexMate">https://github.com/semk/RegexMate</a>

<p>An easy to use Regular Expression Tester/Evaluator that features dynamic regex match highlighting.</p>

<h2><a href="https://github.com/semk/appy">Appy</a></h2>
<a href="https://github.com/semk/appy">https://github.com/semk/appy</a>

<p>A simple Application Framework for Python which simplifies the handling of commandline options, threading, multiprocessing and logging in Python.</p>

<h2><a href="https://github.com/semk/Org2OPML">Org2OPML</a></h2>
<a href="https://github.com/semk/Org2OPML">https://github.com/semk/Org2OPML</a>

<p>Converts Emacs Org-mode files to OPML format used by Mindnode and Freemind.</p>

<h2><a href="https://github.com/semk/hypergae">HyperGAE</a></h2>
<a href="https://github.com/semk/hypergae">https://github.com/semk/hypergae</a>

<p>A project that helps Google App Engine to run on top of Hypertable.</p>

<h2><a href="https://github.com/semk/pytt">Pytt</a></h2>
<a href="https://github.com/semk/pytt">https://github.com/semk/pytt</a>

<p>Pytt (Python Torrent Tracker, pronounced as 'pity') is a BitTorrent Tracker written in Python using non-blocking Tornado Web Server. It also features a nice and clean UI for showing Tracker statistics. (WIP)</p>

<h2><a href="https://github.com/semk/tp-scratch">Scratch Tool</a></h2>
<a href="https://github.com/semk/tp-scratch">https://github.com/semk/tp-scratch</a>

<p>A Magic Tool for Tux Paint which makes a scratched effect on the canvas. <a href="/2011/04/11/a-magic-tool-for-tuxpaint/">Read More...</a></p>

<h2><a href="https://github.com/semk/HadoopFS">HadoopFS</a></h2>
<a href="https://github.com/semk/HadoopFS">https://github.com/semk/HadoopFS</a>

<p>Thrift based Client library for Hadoop Distributed FileSystem <a href="http://hadoop.apache.org/hdfs">HDFS</a></p>

<h2><a href="https://github.com/semk/GitFS">GitFS</a></h2>
<a href="https://github.com/semk/GitFS">https://github.com/semk/GitFS</a>

<p>A FUSE filesystem written in Python that stores data on Git(Hub)</p>

<h2><a href="https://github.com/semk/playasia">PlayAsia api</a></h2>
<a href="https://github.com/semk/playasia">https://github.com/semk/playasia</a>

<p>The Play-Asia.com API is a set of functions that allow you to retrieve data programatically using Python.</p>

<h2><a href="https://github.com/semk/cricinfo">Cricinfo</a></h2>
<a href="https://github.com/semk/cricinfo">https://github.com/semk/cricinfo</a>

<p>Python library for accessing information from <a href="http://espncricinfo.com">CricInfo</a> (Live scores and updates) (WIP)</p>

<p>Checkout my <a href="https://github.com/semk">Git Repo</a> for more</p>
{% endblock %}
