---
title: Tags
---

{% extends "listing.html" %}

{% block content %}

{% for post in tag.posts %}

<article class="excerpt">
<header>
<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
<time datetime="{{ post.date | date("%Y-%m-%d") }}" pubdate="pubdate">
{{ post.date | date("%b %d, %Y") }}
</time>
</header>

<p>{{ post.content }}</p>
<p class="full-post"><a href="{{ post.url }}#comments">comments...</a></p>
<p class=a>&#x2767;

</article>

{% endfor %}

{% include "blog-search.html" %}
{% endblock %}
