{% extends "default.html" %}

{% block content %}
<main class="content" role="main">

    <article class="post">

        <header class="post-header">
            <a id="blog-logo" href="/">
            	<img src="/images/logo.png" alt="Blog Logo" />
            </a>
        </header>

        <span class="post-meta"><time datetime="{{ post.date | date("%Y-%m-%d") }}">{{ post.date | date("%b %d, %Y") }}</time>{% for tag in post.tags %} <em><a href="{{tag.url}}">{{ tag.name }}</a></em>{% if not loop.last %},{% endif %} {% endfor %}</span>

        <h1 class="post-title">{{ post.title }}</h1>

        <section class="post-content">
            {{ post.content }}
        </section>

        <section class="comment">
	  {% include "disqus.html" %}
        </section>

    </article>
</main>
{% endblock %}
